@import '../vars';

.sourceCode {
  white-space: pre;
  background: lighten(@gray0, 12%);
  padding: 10px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  font-size: 0.8em;

  code {
    display: block;
    min-height: 13px;
  }
}
