@import '../vars';

.typeDetails {
  box-sizing: border-box;
  background: #eee;
  overflow: auto;
  border-left: 1px solid @gray0;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-subHeading {
    margin-top: 45px;
    border-bottom: 1px solid @gray0;
  }

  &-header,
  &-info {
    padding: 10px 20px;
  }

  &-header {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-source {
    flex-grow: 1;
    position: relative;

    .sourceCode {
      height: 100%;
      position: absolute;
    }
  }
}
